@{
  Layout = "_Layout";
}

@model LibraryCatalog.Models.Author;

<h2>Author Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This Author does not contain any titles</p>
}
else
{
  <h4>Books by the Author:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Book.Name</li>
  }
  </ul>
}

<p>@Html.ActionLink("Back to Authors", "Index")</p>
<p>@Html.ActionLink("Edit Author", "Edit", new { id = Model.AuthorId })</p>
<p>@Html.ActionLink("Delete Author", "Delete", new { id = Model.AuthorId })</p>