@* @{
  Layout = "_Layout";
}

@using LibraryCatalog.Models;

<h1>Authors</h1>
<div>
@if (@Model.Count == 0)
{
  <h3>No Authors have been added yet!</h3>
} 

<ul>
  @foreach(Author author in Model)
  {
    <li>@Html.ActionLink($"{author.Name}", "Details", new { id = author.AuthorId })</li>
  }
</ul>

</div>

<p>@Html.ActionLink("Add new author", "Create")</p> *@


@{
    Layout = "_Layout";
}

@using System.Linq;
@model IEnumerable<LibraryCatalog.Models.Author>


@{
    ViewBag.Title = "Index";
}
<div>
<h2>Authors</h2>
<p>
@using (@Html.BeginForm("Index", "Authors", FormMethod.Get))
{
    <b>Search By:</b>
    @Html.RadioButton("searchBy", "Name", true) <text>Name</text>
    @Html.TextBox("search") <input type="submit" value="search" />
}
</p>
<br/>
<table border="1">
    <tr>
        <th>
            Author @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>Book</th>
    </tr>
@if (Model.Count() == 0)
{
    <tr>
        <td colspan="4">
            No records match search criteria
        </td>
    </tr>
}
else
{
    foreach (var author in Model)
    {
        @* <tr>
            <td>
                @Html.ActionLink($"{author.Name}", "Details", new { id = author.AuthorId })
            </td>
            <td> *@
      @if(author.JoinEntities2.Count == 0)
      {
        <tr>
          <td>@Html.ActionLink($"{author.Name}", "Details", new { id = author.AuthorId })</td>
          <td>This author does not have any books</td>
        </tr>
      }
      else
      {
        @foreach(var join in author.JoinEntities2)
        {
          <tr>
            <td>@Html.ActionLink($"{author.Name}", "Details", new { id = author.AuthorId })</td>
            <td>
              @join.Book.Name
            </td>
          </tr>
        }
      }
    }
}
</table>

<p>@Html.ActionLink("Add new author", "Create")</p>