@{
  Layout = "_Layout";
}

@model LibraryCatalog.Models.Book

<h4>Add a new book</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.LabelFor(model => model.PublishDate, "Publish Date")
  @Html.TextBoxFor(model => model.PublishDate)

  @Html.Label("Select author")
  @Html.DropDownList("AuthorId")

  @Html.Label("Select genre")
  @Html.DropDownList("GenreId")

  <input type="submit" value="Add new book" />
}

<p>@Html.ActionLink("Show all books", "Index")</p>