@{
  Layout = "_Layout";
}

@model LibraryCatalog.Models.Book

<h2>Book Details</h2>

<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

<div>
<h2>By:</h2>
@if(@Model.JoinEntities2.Count == 0)
{
  <p>This book does not have any authors</p>
}
else
{
  <ul>
  @foreach(var join in Model.JoinEntities2)
  {
    <li>@join.Author.Name</li>
    @using (Html.BeginForm("DeleteAuthor", "Books"))
    {
      @Html.Hidden("joinId", @join.AuthorBookId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}
</div>
<div>
<h2>Genres:</h2>
@if(@Model.JoinEntities3.Count == 0)
{
  <p>This book is not in any genres</p>
}
else
{
  <ul>
  @foreach(var join in Model.JoinEntities3)
  {
    <li>@join.Genre.Name</li>
    @using (Html.BeginForm("DeleteGenre", "Books"))
    {
      @Html.Hidden("joinId", @join.BookGenreId) 
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}
</div>
<div>
<h2>Copies:</h2>
@if(@Model.Copies.Count == 0)
{
  <p>There are no copies of this book!</p>
}
else
{
  <ul>
  @foreach(var copy in Model.Copies)
  {
    <li>@copy.CopyId</li>
    @using (Html.BeginForm("DeleteCopy", "Books"))
    {
      @Html.Hidden("CopyId", @copy.CopyId) 
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}
</div>

<h2>Publish Date: @Html.DisplayFor(model => model.PublishDate)</h2>

<p>@Html.ActionLink("Back to books", "Index")</p>
<p>@Html.ActionLink("Edit book", "Edit", new { id = Model.BookId })</p>
<p>@Html.ActionLink("Delete book", "Delete", new { id = Model.BookId })</p>